@import '../style/variables.scss';

#todo-list-wrapper {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;

  li {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    margin: 0 0 5px 0;
    background: $whitesmoke;

    .todo-item-content {
      display: flex;
      flex-direction: column;
      border-bottom: 0.1px solid $dark-blue;
      padding-bottom: 15px;
    }

    #remove-btn {
      width: 50px;
    }
  }

  .text {
    text-transform:capitalize;
  }
}
