@import '../style/variables.scss';

#todo-list-wrapper {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;

  li {
    width: auto;
    display: flex;
    justify-content: space-between;
    background: orange;
    padding: 5px;
    margin: 0 0 5px 0;

    button {
    }
  }
}
